## Here I importing the librarys I will need.

In [1]:
import pandas as pd

## Loading the Data

In [2]:
london_data = pd.read_csv("london_merged.csv")

In [3]:
london_data.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [4]:
london_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [9]:
london_data.shape

(17414, 10)

In [10]:
# counting the unique values of weather_code
london_data.weather_code.value_counts()

1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: weather_code, dtype: int64

In [11]:
# counting the unique values of season
london_data.season.value_counts()

0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

## Doing some Manipulation

In [16]:
# here I will change the columns name to be consistant
london_data.set_axis(["time", "count", "temp_real_feel", "temp_feel_like", "humidity", 
                      "wind_speed", "weather", "is_holiday", "is_weekend", "season"], 
                     axis='columns', inplace=True)

In [17]:
london_data.head()

,time,count,temp_real_feel,temp_feel_like,humidity,wind_speed,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [28]:
# here I will change the weather date type as string
london_data.weather = london_data.weather.astype('str')
london_data["weather"] = london_data["weather"].replace(['1.0','2.0','3.0','4.0','7.0','10.0','26.0'], 
                                                        ['clear','scatt_cloud','broken_cloud','cloudy',
                                                         'rain','rain_with_thunder','snowfall'])

In [29]:
london_data.head()

,time,count,temp_real_feel,temp_feel_like,humidity,wind_speed,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,broken_cloud,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,clear,0.0,1.0,winter

In [30]:
# heere I will change the season date type as string
london_data.season = london_data.season.astype('str')
london_data["season"] = london_data["season"].replace(['0.0','1.0','2.0','3.0'], ['spring','summer','autumn','winter'])

In [31]:
london_data.head()

,time,count,temp_real_feel,temp_feel_like,humidity,wind_speed,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,broken_cloud,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,clear,0.0,1.0,winter

In [32]:
london_data.to_excel("london_bike_data.xlsx", sheet_name="bike_data")

PermissionError: [Errno 13] Permission denied: 'london_bike_data.xlsx'